maquina1/*
!maquina1/
!maquina1/dockerfile
!maquina1/pg_hba.conf
!maquina1/postgresql.conf
!maquina1/dockerfile
!maquina1/relacional.sql

maquina2/*
!maquina2/
!maquina2/dockerfile

dw/*
!dw/
!dw/dockerfile
!dw/relacional.sql



airflow/*
!airflow/
!airflow/dbt/
airflow/dbt/target/*
airflow/dbt/logs/*
!airflow/dbt/*
airflow/dbt/.user.yml
airflow/dags/*
!airflow/dags/
!airflow/dags/etl_dbt_pipeline.py
!airflow/dockerfile
!airflow/requirements.txt
airflow/dbt/dbt_internal_packages/*