maquina1/*
!maquina1/
!maquina1/dockerfile
!maquina1/pg_hba.conf
!maquina1/postgresql.conf
!maquina1/dockerfile
!maquina1/relacional.sql

maquina2/*
!maquina2/
!maquina2/dockerfile

dw/*
!dw/
!dw/dockerfile
!dw/relacional.sql

dbt/*
!dbt/
!dbt/dockerfile
!dbt/requirements.txt
!dbt/dbt_project.yml

airflow/*
!airflow/
!airflow/dockerfile
!airflow/requirements.txt

